body {
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: rgb(153,153, 153);
  border-radius: 0;
  border: 0;
}
#our_menu{
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
#b_c_s{
  padding: 15px;
  
}
#div_chicken, #div_beef, #div_sushi{
  text-align:center;
  font-weight: bold;
background-color: rgb(153, 153, 153);
margin: 25px;
}
#div_chicken_text, #div_beef_text, #div_sushi_text{
  text-align:center;
  font-weight: normal;
background-color: rgb(153, 153, 153);
margin: 25px;
}



.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #000000;
  font-size: 1.5em;
  
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color:rgb(153,153, 153);
  text-align: center;

}


#nav-list a span {
  font-size: 1.8em;
}





.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */

/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
 
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  /* End Header */

  /* Home Page */
  
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
 
  /* End Home Page */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  #nav-list a {
    color:#000000;
    text-align: center;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 2em; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: 2em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

 
 
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #our_menu{
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
  }

}
